<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>ログイン画面</title>
  <link rel="stylesheet" href="Login.css">
</head>
<body>
  <div class="screen">
    <div class="form-container">
      <h2>ログイン画面</h2>

      <div>
        <label for="user-id">学籍番号</label>
        <input id="user-id" type="text" placeholder="12345">
      </div>

      <div>
        <label for="stu-pass">パスワード</label>
        <input id="stu-pass" type="password">
      </div>

      <button onclick="LoginMainInput()">ログイン</button>
      <a href="SignUp.html">新規登録へ</a>
      <p id="login-error" class="error"></p>
    </div>
  </div>

  <script src="Login.js"></script>
</body>


<!--<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>ログイン画面</title>
  <link rel="stylesheet" href="Login.css">
</head>
<body>
  <div class="screen">
    <h2>ログイン画面</h2>
    <input id="login-id" type="text" placeholder="学籍番号">
    <input id="login-pass" type="password" placeholder="パスワード">
    <button onclick="login()">ログイン</button>
    <a href="SignUp.html">新規登録へ</a>
    <p id="login-error" class="error"></p>
  </div>
  <script src="Login.js"></script>
</body>
</html>-->